# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

/config/master.key
.env

# Ignore bundler config
/.bundle

# Ignore log files and temp files
/log/*
/tmp/*

# Ignore cache
/cache/*

# Ignore system files
.DS_Store

# Ignore bootsnap cache
/tmp/cache/bootsnap/*

# Ignore pid files
/tmp/pids/*

# Ignore byebug command history file.
.byebug_history

# Ignore node modules
/node_modules

# Ignore dotenv environment variable files
.env*
